:root {
  /* Color */
  --blue: #0931a7;
  --light-blue: #404bbf;
}

.search-form {
  padding: 8px;
  background-color: var(--light-blue);
  text-align: center;
}

.search-form:hover,
.search-form:focus {
  background-color: var(--blue);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1440px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.photo-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px) / 4);
}

.gallery-img {
  // width: 100%;
  height: 235px;
  object-fit: cover;
  flex-grow: 1;
}

.info {
  display: flex;
  gap: 5px;
  text-align: center;
  border-bottom: 0 1px 1px 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.load-more {
  display: block;
  margin: 16px auto;
  padding: 8px 24px;
  color: #ffffff;
  background-color: var(--light-blue);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  background-color: var(--blue);
}

.hidden {
  display: none;
}